* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Torus;
  src: url(./assets/fonts/Torus_Heavy.otf);
}

@font-face {
  font-family: Futura;
  src: url(./assets/fonts/Futura\ Bk\ BT\ Book.ttf);
}

.slide-top{-webkit-animation:slide-top .5s linear infinite both;animation:slide-top .5s linear infinite both}

p,span, a{
  font-family: 'Futura';
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.1rem;
  color: white;
}

h1,h2,h3, h4{
  font-family: 'Torus';
}


@media (min-width:780px) {

  p{
    font-size: 1.6rem;
    line-height: 50px;
  }

  h1{
    font-size: 4rem !important;
  }

  .accordion{ 
    width: 70% !important;
    align-items: center;
    justify-content: flex-end !important;
  }

  .carousel{
    width:100% !important;
  }

  .carousel-md{
    width:60% !important;
  }

  .header-container{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header-nav{
    margin-left: 150px;
    gap: 50px;
  }

  .img-md{
    width: 30% !important;
  }
}



